@import "bootswatch/dist/darkly/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/darkly/bootswatch";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

:root {
    --wshblue: rgb(20,149,255);
    --tableColor: #77b3af;
  }
body {
    // background: rgb(127, 160, 189);
    margin: 0;
    font-family: Roboto;
    height:2000px;
}

/*NavBar*/
.custom_container{
    display: flex;
    width:90%;
    margin:0 0 0 2.5%;
        .custom_link{
            text-decoration: none;
            display: inline-block;
            white-space: nowrap;
            .custom_logo_nav{width:100px;}
        }
    .company_name{display:none;}
    .middle_nav_div{
        display: table;
        margin: auto;
        h2{margin:0 60px 0 0;}
        small{margin:0;}
    }
    nav {display: none;}
    .mobile-menu{
        position: absolute;
        cursor: pointer;
        right:25px;
        top: 50px;
        height: 20%;
    }
    nav.menu-btn{display:block;}
    nav{
        position: fixed;
        z-index: 999;
        width: 55%;
        right: 0;
        top: 0;
        background: #20272E;
        height: 100vh;
        margin-left: 0;
        .ul_primary{
            margin-top:5em;
            list-style-type: none;
        }
        .li_primary{
            a{
                color: white;
                text-decoration: none;
                display: block;
                padding: .5em 10px .5em 0;
                // margin-right:10px;
                font-size: 1.3em;
                text-align: right;
                &:hover {font-weight: bold;}
            }
            .grey_background{color: $gray-600;}
            .dropdown-menu{
                margin:0 0 0 -20%;
            }
        }
        .button_link{
            background: $gray-900;
            border: none;
            padding: 10px 10px 10px 50px;
            width:100%;
            /*optional*/
            // font-family: arial, sans-serif;
            /*input has OS specific font-family*/
            color: $white;
            text-decoration: none;
            cursor: pointer;
            float:inline-end;
            font-size:20px;
            text-align: right;
        }
        .button_link:hover{
            background: $blue;
        }
        // .wsh_items_alignment{float:right}
    }
    .mobile-menu-exit{
        float: right;
        margin: .5em;
        cursor: pointer;
    }
}

.wider_input_login{
    width: 300px;    
}
.short_input_login{
    width: 50px;
}
/*Reset Password*/
section.ResetPasswordSection{
    padding: 200px 10px 100px 5px;
}
/*Register*/
section.RegisterSection{
    padding: 200px 10px 100px 5px;
    .optional_info{
        background-color: $gray-700;
        // background-color: rgb(68,68,68);
        border-radius: 3em;
        border: 1px solid #dddddd;
        border-color: rgb(179, 173, 173);
        border-width: .5em;
        padding: 10px 20px 20px 20px;
        margin: 30px 0 0 -30px;
        width:max-content;
    }
    .height_area{
        border-radius: 1em;
        background-color: $gray-600;
        padding: .5em 0 .5em 1em;
        margin-top: 1em;
    }
}

/*HOME*/
section.Home {
    padding: 200px 10px 100px 5px;
    .home_link_list_div{
        background-color: $secondary;
        // background-color: rgb(68,68,68);
        border-radius: 3em;
        border: 1px solid #dddddd;
        border-color: rgb(179, 173, 173);
        border-width: .5em;
        padding: 10px 0 10px 10px;
        margin: 0 0 0 30px;
    }
    .home_link_list{
        list-style-type: none;
        font-size:larger;
    }
}

/*Login*/
section.LoginSection {
    padding: 200px 10px 100px 5px;
    .container{
        display:grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "left_part"
        "right_part";
        .forgotPwdOrRegister{
            a{padding: 0 5px 0 5px;}
            .registerLink{padding-left:15px}
        }
        .register_box, .login_as_guest_box{
            background-color: $gray-700;
            border: 1px solid $gray-300;
            border-width: .5em;
            border-radius: 3em;
            border-color:$gray-600;
            width:350px;
            height:150px;
            padding-left:55px;
            padding-top:35px;
            a {font-size: 2em;}
        }

        .right_part{padding:10px 0 0 0}
    }
}

/*Dashboard*/
section.dashboard {
    padding: 200px 10px 100px 0px;
    .container{padding:0}
    .summary_div{
        background-color: $secondary;
        border-radius: 3em;
        border: 1px solid #dddddd;
        border-color: rgb(179, 173, 173);
        border-width: .5em;
        padding: 10px 0 10px 10px;
        margin: 0 0 50px 0;
        h2{ margin-left:1em}
        p {margin-left: 3em;}
    }
    .dash_chart_div{
        width: 100%;
        min-width:200px;
        height: 500px;
        background-color: $teal;
        border-radius: 3em;
        border: 1px solid #dddddd;
        border-color: rgb(179, 173, 173);
        border-width: .5em;
        label{
            margin-left: 2em;
        }
    }
    // .current_chart_div > label{
    //     padding: 5px 0 0 30px;
    // }
    .bokeh_div{
        padding-left: 10px;
        margin-right: 10px;
        // margin-left:10px;
        border-radius: 1.5em;
    }

    .timeline_records_div{
        margin: 50px 0 0 0;
        padding: 10px;
        height: 680px;
        background-color: $teal;
        border-radius: 3em;
        border: 1px solid #dddddd;
        border-color: rgb(179, 173, 173);
        border-width: .5em;
    }
    .timeline_records_div > label{
        padding: 5px 0 0 30px;
    }

    .table_contents {
        font-size: .7em;
        background: #77b3af;
        margin: 0 0 0 0;
        padding-top: 5px;
        border-color: #525252;
        border-style: solid;
        border-width: 1px;
    }

    .dash_id_button:hover{
        background: #E54E4E;
        background-size: contain;
        padding: 3px 7px 5px;
        top: -5px;
        right: -5px;
    }


    //Below are bootstrap table row attritbutes for non id columns
    table td{
        background-color: var(--tableColor);
    }

    //Below are bootstrap table row attritbutes for id column ODDs
    // table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{background-color:#f1f1f1}
    table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{background-color:var(--tableColor)}
    //Below are bootstrap table row attritbutes for id column EVENS
    // table.dataTable.order-column tbody tr>.sorting_1,table.dataTable.order-column tbody tr>.sorting_2,table.dataTable.order-column tbody tr>.sorting_3,table.dataTable.display tbody tr>.sorting_1,table.dataTable.display tbody tr>.sorting_2,table.dataTable.display tbody tr>.sorting_3{background-color:#fafafa}
    table.dataTable.order-column tbody tr>.sorting_1,table.dataTable.order-column tbody tr>.sorting_2,table.dataTable.order-column tbody tr>.sorting_3,table.dataTable.display tbody tr>.sorting_1,table.dataTable.display tbody tr>.sorting_2,table.dataTable.display tbody tr>.sorting_3{background-color:var(--tableColor)}
    
    .hide_textbox{
        display:none;
    }
    .accordion{padding:0;margin:0;}
    .accordionBackgroundDash{
        // display: inline-block;
        border:5px solid;
        border-color:var(--wshblue);
        // background-color: red;
    }
    .dash_info_section{
        // width:fit-content;
        // margin-right:0;
        // margin-left:3em;
        padding-top:4em;
        .accordionHeaderBackgroundDashSub{
            width:100%;
            // margin-right:0;
        }
        .accordionBackgroundDashSub{
            width: 100%;
            background-color:$cyan ;
            // margin-right:0;
        }
    }    
}
/*For_scientists*/
section.for_scientists {
    padding: 200px 0 0 0;

    .current_chart_div{
        margin: 50px 0 0 0;
        // width: 100%;
        height: 500px;
        // background-color: rgb(119, 179, 120);
        background-color: $teal;
        // background-color: rgb(33, 133, 53);
        border-radius: 3em;
        border: 1px solid #dddddd;
        border-color: rgb(179, 173, 173);
        border-width: .5em;
    }
    .current_chart_div > label{
        padding: 5px 0 0 30px;
    }
    .bokeh_div{
        padding-left: 20px;
        margin-right: 10px;
        margin-left:10px;
        border-radius: 1.5em;
    }

    .timeline_records_div{
        margin: 50px 0 0 0;
        padding: 10px;
        height: 680px;
        background-color: $teal;
        border-radius: 3em;
        border: 1px solid #dddddd;
        border-color: rgb(179, 173, 173);
        border-width: .5em;
    }
    .timeline_records_div > label{
        padding: 5px 0 0 30px;
    }

    .table_contents {
        font-size: .7em;
        background: #77b3af;
        margin: 0 0 0 0;
        padding-top: 5px;
        border-color: #525252;
        border-style: solid;
        border-width: 1px;
    }

    .dash_id_button:hover{
        background: #E54E4E;
        background-size: contain;
        padding: 3px 7px 5px;
        top: -5px;
        right: -5px;
    }
    //Below are bootstrap table row attritbutes for non id columns
    table td{
        background-color: var(--tableColor);
    }

    //Below are bootstrap table row attritbutes for id column ODDs
    // table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{background-color:#f1f1f1}
    table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{background-color:var(--tableColor)}
    //Below are bootstrap table row attritbutes for id column EVENS
    // table.dataTable.order-column tbody tr>.sorting_1,table.dataTable.order-column tbody tr>.sorting_2,table.dataTable.order-column tbody tr>.sorting_3,table.dataTable.display tbody tr>.sorting_1,table.dataTable.display tbody tr>.sorting_2,table.dataTable.display tbody tr>.sorting_3{background-color:#fafafa}
    table.dataTable.order-column tbody tr>.sorting_1,table.dataTable.order-column tbody tr>.sorting_2,table.dataTable.order-column tbody tr>.sorting_3,table.dataTable.display tbody tr>.sorting_1,table.dataTable.display tbody tr>.sorting_2,table.dataTable.display tbody tr>.sorting_3{background-color:var(--tableColor)}
    
    /*Delete modal*/
    .hide_textbox{
        display:none;
    }
    .modal_header_delete{
        background-color: rgb(179, 173, 173);
        border-bottom: 0 none;
    }
    .modal_body_delete{
        background-color:tan;
    }

    .delete_button{
        float:right;
        background-color: rgb(192, 55, 55);
        border: none;

    }
}
/*Upload Health*/
section.upload_health_data{
    padding: 200px 10px 100px 5px;
    .accordionHeaderBackground{
        background-color: var(--wshblue);
    }
    .accordionBackground{
        border:5px solid;
        border-color:var(--wshblue);
    }

}
.accordion-button.collapsed {
    background: $gray-600
  }
.modal_body_oura {
    ol { counter-reset: item }
    li{ display: block }
    li:before { content: counters(item, ".") " "; counter-increment: item }
  }


/*About*/
section.About {
    padding: 200px 10px 100px 5px;
    .mission_div{
        background-color: $secondary;
        // background-color: rgb(68,68,68);
        border-radius: 3em;
        border: 1px solid #dddddd;
        border-color: rgb(179, 173, 173);
        border-width: .5em;
        padding: 10px 0 10px 10px;
        margin: 0 0 0 30px;
    }
    .home_link_list{
        list-style-type: none;
        font-size:larger;
    }
}
.sectionWriting {padding:1em; /*background-color:rgb(180, 180, 0)*/}

//Fro screen wider than 570px
@media only screen and (min-width: 570px){
    /*NavBar*/
    .custom_container{
        .custom_link{
            img, span {
                display: inline-block;
                vertical-align: middle;
                }
            span {
                // background-color: red;
                font-size:30pt;
                padding-left: 0;
                text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black; 
            }

        }
        // .mobile-menu{
        //     position: absolute;
        //     cursor: pointer;
        //     right:55px;
        //     top: 30px;
        //     height: 30%;
        // }
        nav{
            width: 35%;
            .li_primary{
                .dropdown-menu{
                    margin:0 0 0 -5%;
                }
            }
        }
    }
}
//For Screen wider than 768
@include media-breakpoint-up(md) { 
    section.dashboard {
        .timeline_records_div{
            height: 620px;
        }
    }
    section.for_scientists {
        .timeline_records_div{
            height: 620px;
        }
    }
    .navbar .custom_container{
        display: grid;
        grid-template-columns: 250px auto 350px;
        .custom_link{
            img, span {
                display: inline-block;
                vertical-align: middle;
                }
            span {
                font-size:30pt;
                padding-left: 10px;
                text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black; 
            }
        }
        .middle_nav_div{padding-left:150px}
        nav{
            width: 30%;
            // .li_primary{
            //     .dropdown-menu{
            //         margin:0 0 0 30%;
            //     }
            // }
        }
    }
}

//For Screen wider than 1080
@media only screen and (min-width: 1080px) {

    /*Login*/
    section.LoginSection {
        padding: 200px 10px 100px 5px;
        .container{
            display:grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
            "left_part right_part";
            .left_part{grid-area:left_part}
            .right_part{grid-area:right_part}
        }
    }
    section.for_scientists {padding: 200px 10px 100px 5px;}
    section.dashboard {
        .container_dash{
            padding: 0 10px 0 100px;
        }
    }

    .navbar .custom_container{
        .middle_nav_div{
            display: table;
            margin: auto;
            h2{
                margin:0 0 -10px 0;
            }
        }
    }

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }
    .custom_container {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        nav {
            display: flex;
            justify-content: space-between;
            background: none;
            position: unset;
            height: auto;
            .ul_primary {
                display: flex;
                margin:0;
                padding: 1em 10em 0 0;
            }
            a {
                color: black;
                font-size: 1em;
            }
            .li_primary {
                border-left:1px solid ;
                margin: 0; padding: 0;
                border-top-left-radius: 10px;
                .dropdown-menu{
                    margin-left:-60px;
                    margin-top:-20px;
                    width:180px;
                    .button_link{
                        padding: 10px 10px 10px 0;
                    }
                }
            }
            .li_primary.current a {font-weight: bold;}
        }
    }
}
//Wider than xxl: 1400px
@include media-breakpoint-up(xxl) { 
    /*Dashboard*/
    section{ max-width: 1400px;}
    section.dashboard {
        .container_dash{
            padding: 0 100px 0 100px;
            // max-width: 1400px;
        }
        .accordion{padding:0;margin:0;}
        .accordionBackgroundDash{
            display: flex;
            // border:5px solid;
            // border-color:var(--wshblue);
            // background-color: red;
        }
        .dash_info_section{
            width:fit-content;
            margin-left:3em;
            padding-top:4em;
            .accordionHeaderBackgroundDashSub{
                width:300px;
            }
            .accordionBackgroundDashSub{width: 300px;}
        }
    } 
    .timeline_records_div{margin-left:10%}
}

