
    {% extends "layout.html" %}
    {% block title %} WSH About {% endblock %}
    {% block main %}
<section class="Home">
    <div class="container">

        <h1>About What Sticks</h1>
        <div class="home_link_list_div">

            <h1><a href="https://nrodrig1.medium.com/healthcare-is-not-up-to-date-2e58c01c1477">Healthcare is Not Up-To-Date</a></h1>
                <h4><i>The updated version includes Big Data</i></h4>

            <div class="sectionWriting">
                We have phones with touch screens that hold the wealth of human knowledge in the palm of our hands. But when we are at the doctor’s office, we’re still getting a diagnosis from a single human without computer assistance. This is not a knock on physicians. This is simply an acknowledgment that the sort of computer processing power used in other industries should be built into the infrastructure of lifestyle, diagnosis and treatment decisions.
                <br/><br/>
                For years, social media have been exploiting our own data to advertise to us with incredible precision. In many ways, they know us better than we know ourselves.
                <br/><br/>
                Within six months of signing up for Instagram, I began receiving advertisements in my feed for items I was not even aware I wanted.
                <br/><br/>
                Another well <a href="https://www.driveresearch.com/market-research-company-blog/how-target-used-data-analytics-to-predict-pregnancies/">documented</a> example of Target stores accurately predicting pregnant women and advertising to them.
                This technology to advertise with precision is conventional twenty first century technology. Furthermore, it clearly has health and lifestyle applications, but it is not being used broadly.
                <br/><br/>
            <h2>How would up-to-date healthcare benefit me?</h2>
            <h3>Consider this question: Do you exercise regularly?</h3>
            <br/><br/>

                How do you answer it?<br/><br/>
                Sometimes the doctor gives you a multiple-choice option. Usually, I’ve responded with how many times a week and for approximately how long. But that is a rough summary of what has occurred in my life. And from month to month that may change.<br/><br/>
                Wouldn’t it be better to provide my Fitbit steps?<br/><br/>
                If I just gave my doctor a download of my Fitbit steps, she would probably get a better idea of my exercise routines. But even still if I am the only one that offers her this information, how useful is it? It is still just a rough indicator.<br/><br/>
                Now what if there was a dataset that included thousands of people similar to me. The dataset contains Fitbit steps along with other health variables. Leveraging certain data science algorithms a computer could assess if my Fitbit history does not align with some other questions or vital readings.
                

            <h4>Here’s another: do you have a family history of X?</h4>

                I know my grandfathers each had prostate cancer. But not much more.<br/><br/>
                My parents are getting older but we’ve not talked about their medical history. I’m not even sure any of us want to have that conversation. But is a conversation necessary?<br/><br/>
                Genome sequencing from 23andMe and other companies are readily accessible. These data alone are not going to give alot information but when paired with other datasets they can provide great insight.<br/><br/>
                There are already wiki’s like <a href="https://promethease.com">https://promethease.com</a> that allow users to upload 23andMe, Ancestry or other genome sequence datasets and provide feedback based on existing research. I’m not saying that this process is ready for commercial practice tomorrow, but we are clearly at the doorstep.<br/><br/>
                Instead of the doctor asking us directly for our family medical history wouldn’t it better to leverage these data to precisly answer these questions?
            
            
            
            
            </div>

        </div>


    </div>

    
</section>

{% endblock %}