{% extends "layout.html" %}
{% block title %} WSH Dashboard {% endblock %}
{% block main %}


<section class="dashboard">
    <div class="container">
        
        <h1>Dashboard</h1>
        <div class="dash_chart_div">
            <label><h3>Average Heart Rate</h3></label>
            <!-- {% if no_hits_flag %}
                <br/>
                No Timeline records found
            {% else %}
                <div class="bokeh_div">
                    {{ div1|safe }}
                </div>
            {% endif %} -->
        </div>



        <form method="POST" action="" enctype="multipart/form-data">
            <div class="timeline_records_div">
                <label><h3>Timeline Records</h3></label>
                {% if no_hits_flag %}
                    <br/>
                    No Timeline records found
                {% else %}

                <div class="table_contents">
                    <table id="proxies" class="display table nowrap responsive table-hover" style="width:90%">
                        <thead>
                            <tr>
                                {% for i in column_names %}
                                <th>{{ i }}</th>
                                {% endfor %}
 
                            </tr>
                        </thead>
                        <tbody>
                        {% for row in table_data %}
                            <tr>
                                <td>
                                    <button type="button" class="dash_id_button"
                                     data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="{{ row[0] }}">{{ row[0] }}</button>
                                </td>
                                
                                {% for i in range(1,len(row)) %}
                                    <td ><div class="td_characteristics">
                                        {{ row[i] }}
                                    </div></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                
                        </tbody>
                    </table>
                </div>
            {% endif %}
            </div>


            <!-- Modal Delete -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal_header_delete">
                <h5 class="modal-title" id="exampleModalLabel">Doesn't show up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal_body_delete">
                    <button type="submit" class="btn btn-primary delete_button" id="yes_delete" name="delete_button">Yes, delete</button>
                    <input type="text" class="hide_textbox" id="recipient-name" name="delete_record_id" readonly>
                </div>

                </div>
            </div>
            </div>
            </div>

        </form>

    </div>
</section>

<!--Delete modal read record id-->
<script>
var exampleModal = document.getElementById('exampleModal')
exampleModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var recipient = button.getAttribute('data-bs-whatever')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalTitle = exampleModal.querySelector('.modal-title')
  var modalBodyInput = exampleModal.querySelector('.modal-body input')

  modalTitle.textContent = 'Delete record ' + recipient +'?'
  modalBodyInput.value = recipient

});
</script>


<script type="text/javascript">
    $('#proxies').DataTable({"aaSorting": []});
</script>



<script src="{{ cdn_js[0] }}" crossorigin="anonymous"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>

    <!-- {{ no_hits_flag }} -->
    {% if no_hits_flag  is sameas 'False' %}
        {{ script1|safe }}
    {% endif %}
    

{% endblock %}