
    {% extends "layoutHome.html" %}
    {% block title %} WSH Home {% endblock %}
    {% block main %}
<section class="Home">
    <div class="container">

        <h1>Welcome to What-Sticks-Health</h1>
        <div class="home_link_list_div">
            <ul class="home_link_list">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('users.logout') }}">Logout</a></li>                
                <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                    {% if current_user.username!='Guest' %}
                    <li><a href="{{ url_for('users.account') }}">Account</a></li>
                    {% endif %}
                
                {% else %}
                <li><a href="{{ url_for('users.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>


    </div>
</section>

{% endblock %}
