<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import our custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- Bootstrap5 css -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/dataTables.bootstrap5.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="../static/bootstrap/table_version20211220/dataTables.bootstrap4.min.css"> -->

    <!--Modal scripts (nav drpdown)-->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <!-- Tables seem to need these -->
    <script src="../static/bootstrap/table_version/jquery-3.5.1.js"></script>
    <script src="../static/bootstrap/table_version/jquery.dataTables.min.js"></script>
    <script src="../static/bootstrap/table_version/dataTables.bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/dataTables.bootstrap5.min.js"></script>

    <!-- <script src="extensions/resizable/bootstrap-table-resizable.js"></script> -->
    <!-- Datatable -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script type = "text/javascript"  src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->
<script type = "text/javascript"  src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<!-- <script type = "text/javascript"  src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script> -->



    <title>{% block title %}{% endblock %}</title>
</head>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <br/><br/><br/><br/><br/><br/>
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}



<body>
    <!-- <nav class="navbar navbar-expand-lg bg-primary"> -->
    <div class="navbar fixed-top  navbar-light bg-light"> 

        <div class="custom_container">
            <div class="">
                <a href="{{ url_for('users.home') }}" class="custom_link">
                    <!-- <div class="text_center"> -->
                        <img class="custom_logo_nav " src="../static/images/wshLogo_test300px.png" alt="LB logo">
                        <span class="company_name">What Sticks</span>
                    <!-- </div> -->
                </a>
            </div>


            
            <div class="middle_nav_div">
                {% if current_user.is_authenticated %}
                <h2>{{ current_user.username }}</h2>
                <!-- <small>(is currently signed in)</small> -->
                {% endif %}
            </div>


            <img class="mobile-menu" id="mobile-cta" src="../static/images/menu.svg" alt="Open Navigation">

            <nav>
                <img id="mobile-exit" class="mobile-menu-exit" src="../static/images/exit.svg" alt="Close Navigation">
                <ul class="primary-nav ul_primary" id="nav_horizontal_list">
                    {% if current_user.is_authenticated %}
                                       
                    <li class="nav-item dropdown li_primary">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown"role="button"
                            data-bs-toggle="dropdown"aria-expanded="false">Your Data</a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('main.dashboard') }}">Dashboard</a>
                                <a class="dropdown-item" href="{{ url_for('main.upload_health_data') }}">Link/Add Device</a>

                                <button type="button" class="button_link" data-bs-toggle="modal" 
                                    data-bs-target="#activityModal">Add Activity
                                </button>
                                <button type="button" class="button_link" data-bs-toggle="modal" 
                                data-bs-target="#weightModal">Add Weight
                                </button>
                                <a class="dropdown-item grey_background" href="{{ url_for('main.for_scientists') }}">Analysis</a>
                            </div>
                    </li>
                    
                    <li class="nav-item li_primary"><a class="nav-link" href="{{ url_for('main.about') }}">About</a></li>
                    <li class="nav-item li_primary"><a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a></li>
                    {% else %}
                    <li class="nav-item li_primary"><a class="nav-link" href="{{ url_for('users.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>




        </div>
    </div>
    

    <form method="POST" action="" enctype="multipart/form-data">
        <!-- Modal -->
          <div class="modal fade" id="activityModal" tabindex="-1" aria-labelledby="activityModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content ">
                <div class="modal-header modal_header_add">
                  <h5 class="modal-title" id="activityModalLabel">Enter Activity</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal_body_add">
                    <div class="enter_activity_sub">
                        <div>
                            <label>Date:</label>
                            <input type="date" value="{{ default_date }}" name="activity_date">
                            <label>Time:</label>
                            <input type="time" value="{{ default_time }}" name="activity_time">
                        </div>
                        <div class="enter_activity_sub2">
                            <label>Activity:</label>
                            <input type="text" placeholder="required (30 char max)" name="var_activity">
                        </div>
                        <div class="enter_activity_sub2">
                            <label>Activity Notes:</label>
                            <textarea  name="activity_notes" rows=2  placeholder="optional"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal_body_add">
                    <button type="submit" class="btn btn-primary" name="submit_activity" value=True>
                        Submit Activity
                    </button>
                </div>
              </div>
            </div>
          </div>
        </form>

        
        <form method="POST" action="" enctype="multipart/form-data">
            <!-- Modal Weight -->
                <div class="modal fade" id="weightModal" tabindex="-1" aria-labelledby="weightModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content ">
                        <div class="modal-header modal_header_add">
                        <h5 class="modal-title" id="weightModalLabel">Enter Weight</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body modal_body_add">
                            <div class="enter_activity_sub">
                                <div>
                                    <label>Date:</label>
                                    <input type="date" value="{{ default_date }}" name="activity_date">
                                    <label>Time:</label>
                                    <input type="time" value="{{ default_time }}" name="activity_time">
                                </div>
                                <div class="enter_activity_sub2">
                                    <label>Weight (lbs):</label>
                                    <input type="text" name="weight_input">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer modal_body_add">
                            <button type="submit" class="btn btn-primary" name="submit_weight" value=True>
                                Submit Activity
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
            </form>

    {% block main %}{% endblock %}




	{% block script %}{% endblock %}
    <script>
        const mobileBtn = document.getElementById('mobile-cta')
            nav = document.querySelector('nav')
            mobileBtnExit = document.getElementById('mobile-exit');

      mobileBtn.addEventListener('click', () => {
          nav.classList.add('menu-btn');
      })

      mobileBtnExit.addEventListener('click', () => {
          nav.classList.remove('menu-btn');
      })
</script>

</body>
</html>
