<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Bootstrap theme: https://bootswatch.com/darkly/-->
        <!-- Import the Bootstrap stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/scss/bootstrap.css') }}">
        <!-- Bootstrap CSS needed for datatable-->

        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/scss/bootstrap.min.css') }}">

        <!-- Not sure if htis is needed?/ -->
        <script src="{{ url_for('static', filename='bootstrap/js/jquery-3.5.1.min.js') }}"></script>
        <!-- Needed for acordion -->
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>


<!-- Import our custom stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

        <!--Add icon for website here-->
        <link rel="shortcut icon" href="#">


    <title>{% block title %}{% endblock %}</title>
</head>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}



<body>
    <!-- <nav class="navbar navbar-expand-lg bg-primary"> -->
    <div class="navbar fixed-top  navbar-light bg-light"> 

        <div class="custom_container">
            <div class="nowrap_containter">
                <a href="#" class="custom_link">
                    <!-- <div class="text_center"> -->
                        <img class="custom_logo_nav " src="../static/images/wshLogo_test300px.png" alt="LB logo">
                        <span class="company_name">What Sticks</span>
                    <!-- </div> -->
                </a>
            </div>


            
            <div class="middle_nav_div">
                {% if current_user.is_authenticated %}
                <h2>{{ current_user.username }}</h2>
                <small>(is currently signed in)</small>
                {% endif %}
            </div>


            <img class="mobile-menu" id="mobile-cta" src="../static/images/menu.svg" alt="Open Navigation">

            <nav>
                <img id="mobile-exit" class="mobile-menu-exit" src="../static/images/exit.svg" alt="Close Navigation">
                <ul class="primary-nav" id="nav_horizontal_list">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('users.home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                    <li class="nav-item dark_bg"><a class="nav-link gray_font" href="{{ url_for('main.for_scientists') }}">For scientists</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('users.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>




        </div>
    </div>
    
    {% block main %}{% endblock %}




	{% block script %}{% endblock %}
    <script>
        const mobileBtn = document.getElementById('mobile-cta')
            nav = document.querySelector('nav')
            mobileBtnExit = document.getElementById('mobile-exit');

      mobileBtn.addEventListener('click', () => {
          nav.classList.add('menu-btn');
      })

      mobileBtnExit.addEventListener('click', () => {
          nav.classList.remove('menu-btn');
      })
</script>

</body>
</html>
