
    {% extends "layout.html" %}
    {% block title %} WSH Privacy {% endblock %}
    {% block main %}
<section class="About">
    <div class="container">

        <h1>Privacy Statement</h1>
        <div class="mission_div">
            <div class="sectionWriting">
                
                What Sticks does not sell or rent your personal information.<br/><br/>

                What Sticks uses your data in aggregate to create benchmarks, but identities are never disclosed without consent of the user.
            </div>
        </div>
<br/><br/>
       

</section>

{% endblock %}