{% extends "layout.html" %}
{% block title %} Register {% endblock %}
{% block main %}
    <section class="RegisterSection">
        <div class="container">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <h2>Register Here</h2>

                <div class="form-elements">
                    <div class="email-label">
                        {{ form.username.label(class="") }}
                    </div>
                    <div class="email-input">
                        {% if form.username.errors %}
                        {{ form.username(class="wider_input_login form-control") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.username(class="wider_input_login form-control") }}
                        {% endif %}
                    </div>
                    
                    <div class="email-label">
                        {{ form.email.label(class="") }}
                    </div>
                    <div class="email-input">
                        {% if form.email.errors %}
                        {{ form.email(class="wider_input_login form-control") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="wider_input_login form-control") }}
                        {% endif %}
                    </div>

                    <div class="password-label">
                        {{ form.password.label(class="") }}
                    </div>
                    <div class="password-input">
                        {% if form.password.errors %}
                        {{ form.password(class="wider_input_login form-control") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="wider_input_login form-control") }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.show_password(id = 'password_checkbox') }}
                        {{form.show_password.label }}
                    </div>



                    <div class="optional_info">
                        <h4>Optional Personal Data</h4>
                        <div class="">
                            <label>Gender</label><br/>
                            <input type="text" name="gender_input" class="wider_input_login form-control">
                        </div>
                        <div>
                            <!-- <label>Birthdate</label><br/> -->
                            <div class="confirm_password-label">
                                {{ form.birthdate.label(class="") }}
                            </div>
                            <div class="confirm_password-input">
                                {% if form.birthdate.errors %}
                                {{ form.birthdate(class="wider_input_login form-control") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.birthdate(class="wider_input_login form-control") }}
                                {% endif %}
                            </div>

                            <!-- <input type="date" name="birthdate" class="wider_input_login form-control"> -->
                        </div>
                        <div class="height_area">
                            <label>Height</label><br/>
                            Feet: <input type="text" name="feet_input" class="short_input_login">
                            Inches: <input type="text" name="inches_input" class="short_input_login">
                        </div>

                    </div>


<br/><br/>
                    <div class="form-submit">
                        {{ form.submit(class="submit-button2") }}
                    </div>

                </div>
               
            
            </form>
        </div>
    </section>
<script>
    window.addEventListener("load", function(){
        var checkbox  = document.getElementById('password_checkbox');
        var x = document.getElementById('{{form.password.id}}');
        checkbox.addEventListener('change', function() {
            if(this.checked) {
                x.type = 'text'; 
            } else {
                x.type = 'password'; 
            }
        });
    });
</script>



{% endblock %}