{% extends "layout.html" %}
{% block title %} WSH Upload Data {% endblock %}
{% block main %}

<section class="upload_health_data">
    <div class="container">
        <form method="POST" action="" enctype="multipart/form-data">
            
            <h1>What-Sticks Upload/Link Health Data</h1>

            <div class="">
                
            </div>



            <div class="">
                Data Upload Type:
                <!-- <input type="text" class="form-control input_1" name="upload_type"  list="upload_type_list">
                <datalist id="upload_type_list">
                        <option>Polar Flow</option>
                </datalist> -->



                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Polar Data
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>Polar data here:</p>
                          <input type="file" class="form-control" name="uploaded_file"/><br/><br/>
                          <button type="submit" class="btn btn-primary" name="upload_file_button" value=True>Upload</button>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Link Oura API
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          Stuff goes here
                        </div>
                      </div>
                    </div>

                  </div>
                  
                  



            </div>


            
            
            
        </form>
    </div>
</section>

{% endblock %}
